.right-side--top-margin {
  margin-top: 60px;
}

.aside-right-animated {
  transition: all 0.2s;
}

.right-side.strech {
    margin-left: 0 !important;
}


/* 
  no more side menu left with smaller screens
*/
@media screen and (max-width: 990px) {
  .right-side {
    margin: {
      left: 0px;
    }
  }
}