.skin-black .logo {
  background-color: #F9690E;
}
.skin-black .left-side {
    background: #222222;
}
.skin-black .sidebar > .sidebar-menu > li > a:hover, .skin-black .sidebar > .sidebar-menu > li.active > a {
    // color: #f6f6f6;
    background: #425164;
}

.skin-black .sidebar > .sidebar-menu > li > a:hover, .skin-black .sidebar > .sidebar-menu > li.active > a {
    background-color: #E67E22;
}
.skin-black .navbar .nav > li > a:hover, .skin-black .navbar .nav > li > a:active, .skin-black .navbar .nav > li > a:focus, .skin-black .navbar .nav .open > a, .skin-black .navbar .nav .open > a:hover, .skin-black .navbar .nav .open > a:focus {
    background-color: #E67E22;
}
.dropdown-menu-right > li > a:hover {
    background-color: #E67E22;
}

.sidebar-menu > li > a:hover {
  background-color: #425164;
}

.sidebar-menu > li.active > a {
  background-color: #E67E22;
}

.shadow--2dp {
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 1px 5px 0px rgba(0,0,0,0.12);
}

.card-like {
  // box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 1px 5px 0px rgba(0,0,0,0.12);
  padding: 20px 10px;
  background-color: white;
}

.sm-st-icon {
  // padding: 15px;
}

/**
 * react bootstrap overrides
 */
// reset react bootstrap 1st row style:
.table-striped > tbody > tr:nth-child(odd)>td {
  background-color: transparent !important;
}

.table-striped > tbody > tr {
  &:hover{
    cursor: pointer;
  }
}

/**
 * react bootstrap table modal fix
 */
//
// .modal-backdrop.in {
//   // z-index: 9999 !important;
//   display: none !important;
// }
//
// .modal-content {
//   z-index: 999999 !important;
// }
//
//
// .modal-dialog {
//   z-index: 999999 !important;
//   margin: {
//     top: 64px;
//   }
// }
/**
 * custom tab panel (material nearly like)
 */
 /* Tabs panel */
 .tabbable-panel {
   border:1px solid #eee;
   padding: 10px;
 }

.tabbable-line {
  border-bottom: #f1f1f1 solid 1px;
}

 .tabbable-line > .nav-tabs {
   border: none;
   margin: 0px;
 }
 .tabbable-line > .nav-tabs > li {
   margin-right: 2px;
   &:hover {
     cursor: pointer;
   }
 }
 .tabbable-line > .nav-tabs > li > a {
   border: 0;
   margin-right: 0;
   color: #737373;
 }
 .tabbable-line > .nav-tabs > li > a > i {
   color: #a6a6a6;
 }
 .tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
   border-bottom: 4px solid #fbcdcf;
 }
 .tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
   border: 0;
   background: none !important;
   color: #333333;
 }
 .tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
   color: #a6a6a6;
 }
 .tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
   margin-top: 0px;
 }
 .tabbable-line > .nav-tabs > li.active {
   border-bottom: 4px solid #F9690E;
   position: relative;
 }
 .tabbable-line > .nav-tabs > li.active > a {
   border: 0;
   color: #333333;
 }
 .tabbable-line > .nav-tabs > li.active > a > i {
   color: #404040;
 }
 .tab-content {
   margin: {
     top: 40px;
   }
 }
 .tabbable-line > .tab-content {
   margin-top: -3px;
   background-color: #fff;
   border: 0;
   border-top: 1px solid #eee;
   padding: 15px 0;
 }
 .portlet .tabbable-line > .tab-content {
   padding-bottom: 0;
 }

 /**
  * react-bootstrap-table toatr
  */
#toast-container {
  display: none !important;
}
@media (min-width: 768px) {
  .modal-dialog {
      width: 600px;
      margin: 80px auto;
  }
}
